<% if resource.errors.any? %>
  <div id="error_explanation" class="error-container">
    <% resource.errors.full_messages.each do |message| %>
      <p class="alert alert-danger px-3 py-1"><%= message %></p>
    <% end %>
  </div>
<% end %>
