<%= form_with(model: [category, category.tasks.build]) do |f| %>
  <div class="form-control">
    <%= f.rich_text_area :body %>
    <%= f.submit "Add", class: "btn btn-primary mt-1" %>
  </div>
<% end %>