<div class="container w-75">
  <h1 class="text-center my-5">About</h1>
  <div class="row">
    <div class="col">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit tenetur quisquam totam accusantium nobis voluptate vitae quasi sequi, nemo pariatur excepturi est magni vel facere enim laborum soluta adipisci dolores.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo deleniti neque totam eius nesciunt, dolorum consectetur, optio nihil vel voluptas blanditiis laudantium ipsa velit doloremque debitis. Neque accusantium sunt perspiciatis?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor repudiandae esse ea molestiae, nisi sunt? Voluptas aliquam officiis nobis nesciunt repudiandae iure optio tempora at vitae, iste, deserunt, cupiditate necessitatibus.</p>
    </div>
    <div class="col">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit tenetur quisquam totam accusantium nobis voluptate vitae quasi sequi, nemo pariatur excepturi est magni vel facere enim laborum soluta adipisci dolores.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo deleniti neque totam eius nesciunt, dolorum consectetur, optio nihil vel voluptas blanditiis laudantium ipsa velit doloremque debitis. Neque accusantium sunt perspiciatis?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo at iste debitis, nostrum magnam corrupti iusto tenetur, iure labore perferendis rem? Exercitationem animi tempora nihil quod numquam repellendus? Laudantium, ex.</p>
    </div>
  </div>
</div>