<div class="container" style="width: 20rem; text-align: justify;">
  <h1 class="text-center my-3">About Page</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit tenetur quisquam totam accusantium nobis voluptate vitae quasi sequi, nemo pariatur excepturi est magni vel facere enim laborum soluta adipisci dolores.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo deleniti neque totam eius nesciunt, dolorum consectetur, optio nihil vel voluptas blanditiis laudantium ipsa velit doloremque debitis. Neque accusantium sunt perspiciatis?</p>
</div>