<div class="container" style="max-width: 1000px;">
  <h1 class="text-center mt-5 fst-italic fst-bold">Journally</h1>
  <div class="row mt-5">
    <div class="col card m-3 text-bg-dark">
      <div class="card-body">
        <h5 class="card-title">Sign In</h5>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, minima officia quis corrupti nesciunt architecto, velit cumque eos corporis id vitae debitis quidem fuga laborum illo nobis exercitationem eligendi necessitatibus.</p>
        <%= link_to "Sign In", new_user_session_path, class:'btn btn-outline-primary'%>
      </div>
    </div>
    <div class="col card m-3 text-bg-dark">
      <div class="card-body">
        <h5 class="card-title">Sign Up</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam repudiandae quos eveniet optio animi facilis, nostrum beatae modi in nulla culpa iste labore consectetur. Magni dolore unde quas hic incidunt.</p>
        <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-outline-success" %>
      </div>
    </div>
    <div class="col card m-3 text-bg-dark">
      <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi animi iusto, fuga fugiat ipsam quo consequuntur asperiores deleniti quam ipsa sapiente nihil accusantium dignissimos exercitationem facilis fugit ullam perspiciatis voluptates!</p>
        <%= link_to "About", about_path, class:"btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
  </div>
</div>