<div class="container" style="width: 20rem; text-align: justify;">
  <h1 class="text-center my-3">Landing Page</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, magni voluptates iure molestiae obcaecati adipisci doloremque dolores reiciendis corrupti. Aliquam, quis minima sed similique ipsum in neque tenetur mollitia voluptatem.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore magni aperiam suscipit facilis magnam dicta quam consequuntur libero expedita tenetur, doloribus vitae voluptatibus beatae quisquam omnis, at sed iste aut.</p>
</div>