.categories-index {
  .grid {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 1.33%;
    place-items: center;
  }
  .card {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 300px;
    border-width: 1px;
    border-color: black;
  }
  .new-category-card {
    border-style: dotted;
    border-width: 3px;
    border-color: black;
    text-decoration: none;
    color: inherit;
    justify-content: center;
    align-items: center;
  }
  .category-card {
    text-decoration: none;
    color: initial;
    display: flex;
  }
}

.w-f-90 {
  width: 90px;
}

@media screen and (max-width: 800px) {
  .categories-index.grid {
    grid-template-columns: 100% !important;
    grid-auto-flow: column !important;
    gap: 5% !important;
  }
}
