.container-400 {
  max-width: 400px;
}

.container-600 {
  max-width: 600px;
}

.fs-7 {
  font-size: 14px;
}

.fc-gray {
  color: gray;
}

.error-container {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
}

