<div class="container-xl">
  <h2 class="text-center mt-1">Categories</h2>
  <div id="categories" class="cards-index mt-4">
    <% @categories.each do |category| %>
      <%= link_to render(category), category, class: "link-category-div" %>
    <% end %>
  </div>
  <div class="mt-4 mx-auto w-25">
    <%= link_to "Add Category", new_category_path, class: "btn btn-dark w-100" %>
  </div>
</div>

