<div class="container container-600">
  <h4 class="text-center my-3">New Category</h4>

  <%= render "form", category: @category %>

  <div class="d-grid mt-3">
    <%= link_to "Back", categories_path, class: "btn btn-outline-dark btn-block" %>
  </div>

  <% if @category.errors.any? %>
    <div class="mt-3">
      <% @category.errors.each do |error| %>
        <p class="alert alert-danger"><%= error.full_message %></p>
      <% end %>
    </div>
  <% end %>
</div>