<% if notice %>
  <p class="alert alert-success py-1 w-100 mx-auto text-center"><%= notice %></p>
<% elsif alert %>
  <p class="alert alert-danger py-1 w-100 mx-auto text-center"><%= alert %></p>
<% end %>